# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea/

# OS / Editor stuff
.DS_Store
*.swp

#Data-keeping
*.h5
*.pt
*.pkl
data/raw/*
data/processed/*
data/summary/*
data/models/*
data/logs/*
!data/**/.gitkeep
