# Python cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.venv/
env/

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea/

# OS / Editor stuff
.DS_Store
*.swp

# Plots and outputs
plots/
*.png
*.jpg

# Model artifacts (later)
*.h5
*.pt
*.pkl
